recommendations/movie-recommendations/ml-latest-small
supervised-learning/classification/smoke_detection_iot.csv
supervised-learning/regression/mlruns
unsupervised-learning/k-nearest-neighbors/card_transdata.csv